      * {
          padding: 0;
          margin: 0;
          box-sizing: border-box;
          font-family: 'Poppins', sans-serif;
        }

        .sidebar {
          background-color: #0094fb;
          position: absolute;
          top: 0;
          left: 0;
          width: 110px;
          height: 100vh;
          transition: all .3s ease;
          padding: 0.6rem 0.9rem;
        }

        .sidebar.active {
          width: 220px;
        }


        .logo h5 span {
          color: #fff;
        }

        .sidebar.active .logo h5 {
          opacity: 1;
        }

        #btn {
          position: absolute;
          color: #fff;
          font-size: 24px;
          top: 1rem;
          left: 2.6rem;
          transition: all .5s ease;
          cursor: pointer;
        }
        .sidebar.active #btn {
          top: 0.7rem;
          left: 10rem;
        }

        .nav-links {
          position: relative;
          margin-top: 2em;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .nav-links li {
          position: relative;
          height: 50px;
          list-style-type: none;
          margin: 0.8em auto;
          width: 90%;
        }

        .nav-links a {
          border-radius: 15px;
          height: 100%;
          width: 100%;
          color: white;
          display: flex;
          align-items: center;
          text-decoration: none;
          transition: background .3s, color .3s;
        }

        .nav-links li span {
          opacity: 0;
          transition: opacity .3s;
        }

        .sidebar.active .nav-links li span {
          opacity: 1;
        }

        .nav-links li a:hover {
          background-color: white;
          color: black;
        }

        .nav-links li a i {
          min-width: 65px;
          text-align: center;
          height: 50px;
          border-radius: 12px;
          line-height: 50px;
        }

        main {
          margin-left: 100px;
          padding: 2rem;
          transition: margin-left .3s;
        }
        .sidebar.active ~ main {
          margin-left: 220px;
        }

        footer {
          background: #f1f1f1;
          text-align: center;
          padding: 1rem;
          margin-top: 20px;
        }