body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background: #f4f4f4;
}

.box {
    max-width: 320px;
    margin: auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    background: #0984e3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background: #0984e3
}

.signup-link {
    display: inline-block;
    margin-top: 10px;
    color: #0984e3;
    text-decoration: none;
    font-weight: bold;
}

.signup-link:hover {
    text-decoration: underline;
}
