{% extends "base.html" %}

{% load static %}

{% block title %}Welcome{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="{% static 'css/all_style.css' %}">
  <meta charset="UTF-8">
  <title>Reminders</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>

  <header>
    <h1>All</h1>
    <div style="display:flex; gap:12px;">
      <span>🔍</span>
      <span>⋮</span>
    </div>
  </header>

  <div class="section-title">Reminders</div>

  <div class="reminder">
    <div class="reminder-left">
      <div class="circle"></div>
      <div class="reminder-text">
        <span class="reminder-title">L's Bday</span>
        <span class="reminder-date">Mon, 7 Apr</span>
      </div>
    </div>
  <a href="{% url 'edit' %}"  <button class="edit-btn" onclick="editTask()">Edit</button></a>
  </div>

  <div class="add-reminder">
    <input type="text" placeholder="Add reminder">
    <a href="{% url 'add' %}"><button class="add-btn">＋</button></a>
  </div>
 {% endblock %}

 
 </script>
</body>
</html>
